Language                                  : Cpp
BasedOnStyle                              : Google 
Standard                                  : Auto
ColumnLimit                               : '120'
AllowShortIfStatementsOnASingleLine       : false